@import url("https://use.typekit.net/swj7zqx.css");

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    margin: 20px;
}
article {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: 1.8rem;
    color: #990000;
}
p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
}
.highlight {
    color: #990000;
    font-weight: bold;
}

.revealed {
    color: green;
    font-weight: bold;
}
.hidden-truth-button {
    padding: 10px 20px;
    background-color: #990000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 20px;
    border-radius: 5px;
}
.hidden-truth-button:hover {
    background-color: #cc0000;
}

.disclaimer {
    margin: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 150px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 15px;
    font-family: "neue-haas-grotesk-display", sans-serif;
  }
  
  nav ul li a:hover {
    background-color: #575757;
  }